.about_me_section {
  margin-bottom: 80px;
  @include media-breakpoint-up(xl) {
    margin-bottom: 120px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include media-breakpoint-up(xl) {
      flex-direction: row;
    }
  }


  &__image {
    border-radius: 20px;
    display: block;
    width: 100%;
    height: auto;
    @include media-breakpoint-up(xl) {
      width: auto;
      height: 100%;
    }

    &_animate {
      &_container {
        display: none;
        @include media-breakpoint-up(xl) {
          display: block;
        }
        &_mobile {
          @include media-breakpoint-up(xl) {
            display: none;
          }
        }
      }
    }

    &_bg {
      background-color: transparent;
      border: 1px solid $color-primary;
      border-radius: 34px;
      position: absolute;
      top: 15px;
      left: -17px;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    &_block {
      position: relative;
      width: 90%;
      margin: 0 auto 50px;
      @include media-breakpoint-up(xl) {
        width: auto;
        margin: 0 100px 0 17px;
        min-width: 387px;
      }
    }
  }

  &__text {
    &_block {

    }
  }

  &__title {
    color: $color-primary;
    font-family: $font-family-primary;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    font-size: 18px;
    margin-bottom: 18px;
    @include media-breakpoint-up(xl) {
      font-size: 24px;
      margin-bottom: 36px;
    }

    &_section {
      margin-bottom: 50px;
      display: none;
      @include media-breakpoint-up(xl) {
        margin-bottom: 70px;
        display: block;
      }

      &_mobile {
        margin-bottom: 50px;
        @include media-breakpoint-up(xl) {
          margin-bottom: 70px;
          display: none;
        }
      }
    }
  }

  &__subtitle {
    color: $color-black;
    font-family: $font-family-primary;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    font-size: 16px;
    margin-bottom: 30px;
    @include media-breakpoint-up(xl) {
      font-size: 24px;
      margin-bottom: 76px;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    display: none;
    @include media-breakpoint-up(xl) {
      display: block;
    }
    &_mobile {
      list-style: none;
      padding: 0;
      @include media-breakpoint-up(xl) {
        display: none;
      }
      &_item {
        display: flex;
        align-items: flex-start;
        @include media-breakpoint-up(xl) {
          align-items: center;
        }
        &_icon {
          margin-right: 16px;
          width: 24px;
          height: 24px;
          margin-top: 5px;
          @include media-breakpoint-up(xl) {
            margin-top: 0;
            margin-right: 29px;
            width: 37px;
            height: 37px;
          }
        }

        &_text {
          color: $color-black;
          font-family: $font-family-primary;
          font-size: 16px;
          font-style: italic;
          font-weight: 300;
          line-height: 150%;
          margin-bottom: 10px;
          @include media-breakpoint-up(xl) {
            font-size: 24px;
          }
        }
      }
    }
    &_item {
      display: flex;
      align-items: flex-start;
      @include media-breakpoint-up(xl) {
        align-items: center;
      }
      &_icon {
        margin-right: 16px;
        width: 24px;
        height: 24px;
        margin-top: 5px;
        @include media-breakpoint-up(xl) {
          margin-top: 0;
          margin-right: 29px;
          width: 37px;
          height: 37px;
        }
      }

      &_text {
        color: $color-black;
        font-family: $font-family-primary;
        font-size: 16px;
        font-style: italic;
        font-weight: 300;
        line-height: 150%;
        margin-bottom: 10px;
        @include media-breakpoint-up(xl) {
          font-size: 24px;
        }
      }
    }
  }
}