.consultations_main_section {
  height: 760px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &__bg {
    position: absolute;
    right: -50px;
    top: 0;
    opacity: 0.05;
    z-index: -1;
  }
  &__content {
    text-align: center;
  }
  &__title {
    font-size: 70px;
    text-align: center;
    color: $color-black;
    font-family: $font-family-secondary;
    font-weight: 500;
    &_container {
      margin-bottom: 40px;
      min-height: 75px;
    }
  }
  &__description {
    font-size: 24px;
    text-align: center;
    font-family: $font-family-primary;
    color: #888888;
    max-width: 50%;
    margin: 0 auto 40px;
    font-weight: 500;
  }
  &__buttons {
    &_container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__link {
    margin: 0 10px
  }
}