.consultation_section {
  overflow-x: hidden;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(214,214,214,1) 20%, rgba(185,185,185,1) 100%);
  position: relative;
  @include media-breakpoint-up(xl) {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(214,214,214,1) 50%, rgba(212,212,212,1) 100%);
  }
  &__photo {

  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    @include media-breakpoint-up(xl) {
      flex-direction: row;
    }
  }

  &__text {
  }

  &__description {
    color: #434343;
    text-align: center;
    font-family: $font-family-primary;
    font-weight: 400;
    max-width: 85%;
    margin: 50px auto 70px;
    font-size: 16px;

    @include media-breakpoint-up(xl) {
      font-size: 24px;
      max-width: 70%;
      margin: 0 auto 60px;
    }

    &_bold {
      font-weight: 600;
      color: $color-primary;
    }
  }

  &__title {
    color: $color-primary;
    text-align: center;
    font-family: $font-family-secondary;
    font-size: 36px;
    font-style: italic;
    font-weight: 600;
    line-height: 190%; /* 68.4px */
    letter-spacing: 1.08px;
    text-transform: uppercase;
    margin-bottom: 60px;
    @include media-breakpoint-up(xl) {
    }
  }

  &__link {
    margin: 0 auto;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translate(-50%, 0);
    @include media-breakpoint-up(xl) {
      position: relative;
      bottom: auto;
      left: auto;
      transform: none;
    }
  }
}