.consultations_reservation {
  height: 250px;
  @include media-breakpoint-up(xl) {
    height: 400px;
  }
  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__text {
    text-align: center;
    font-size: 16px;
    font-family: $font-family-primary;
    color: $color-black;
    font-weight: 700;
    margin-bottom: 40px;
    @include media-breakpoint-up(xl) {
      max-width: 45%;
      font-size: 24px;
    }
  }
  &__buttons {
    &_container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__link {
    margin: 0 20px;
  }
}