.consultations_tariffs {
  @include media-breakpoint-up(xl) {
    margin-bottom: 100px;
  }
  &__container {
    display: none;
    @include media-breakpoint-up(xl) {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
    &_mobile {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      @include media-breakpoint-up(xl) {
        display: none;
      }
    }
  }
  &__card {
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: default;
    transition: all 0.2s ease-out;
    margin-bottom: 20px;
    @include media-breakpoint-up(xl) {
      flex: 0 0 24%;
      max-width: 24%;
      margin-bottom: 0;
    }
    &:hover {
      transform: translateY(-10px);
    }
    &_title {
      font-size: 24px;
      font-family: $font-family-secondary;
      color: $color-primary;
      font-weight: 600;
    }
    &_price {
      font-size: 30px;
      font-family: $font-family-secondary;
      &_strong {
        font-size: 50px;
        font-family: $font-family-primary;
        font-weight: 600;
      }
    }
    &_list {
      padding: 0;
      margin-bottom: 30px;
      &_item {
        font-size: 16px;
        color: #888888;
        font-weight: 500;
        font-family: $font-family-primary;
        margin-bottom: 20px;
        display: flex;
        align-items: flex-start;
      }
    }
    &_link {
      margin-top: auto;
    }
  }
}