.consultations_appointment {
  height: 120px;
  @include media-breakpoint-up(xl) {
    height: 300px;
  }
  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text {
    text-align: center;
    font-size: 16px;
    font-family: $font-family-primary;
    color: #888888;
    font-weight: 500;
    @include media-breakpoint-up(xl) {
      max-width: 35%;
      font-size: 24px;
    }
  }
}