.reviews_section {
  margin-bottom: 160px;
  &__title_section {
    margin-bottom: 50px;
    @include media-breakpoint-up(xl) {
      margin-bottom: 90px;
    }
  }

  &__container {
    position: relative;
  }

  &__bg {
    display: none;
    @include media-breakpoint-up(xl) {
      display: block;
      position: absolute;
      top: 60px;
      right: 20%;
    }
  }
}