.slider {
  width: 335px;
  margin: 0 auto;
  @include media-breakpoint-up(xl) {
    width: 606px;
  }
  &__slide {
    width: 335px;
    min-height: 190px;
    display: flex!important;
    align-items: center;
    @include media-breakpoint-up(xl) {
      width: 606px;
      min-height: 340px;
    }

    &_image {
      width: 100%;
      height: auto;
    }
  }
}