.statistics_section {
  position: relative;
  margin-bottom: 20px;
  @include media-breakpoint-up(xl) {
    margin-bottom: 60px;
  }
  &__container {
    width: 100%;
    border-radius: 24px;
    padding: 22px 20px;
    flex-shrink: 0;

    background: #FFFFFF;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    top: -60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include media-breakpoint-up(xl) {
      height: 180px;
      padding: 28px 99px 28px 103px;
      border-radius: 42px;
    }
  }

  &__item {
    text-align: center;

    &_count {
      font-size: 28px;
      letter-spacing: 0.84px;
      color: $color-black;
      text-align: center;
      font-family: $font-family-third;
      font-weight: 400;
      text-transform: uppercase;
      @include media-breakpoint-up(xl) {
        font-size: 64px;
        letter-spacing: 1.92px;
      }
    }

    &_text {
      text-align: center;
      font-weight: 500;
      line-height: 150%;
      color: $color-primary;
      font-family: $font-family-primary;
      font-size: 14px;
      margin-bottom: 0;
      @include media-breakpoint-up(xl) {
        font-size: 28px;
        margin-bottom: 1rem;
      }
    }
  }
}