.steps_intensive_section {
  margin-bottom: 140px;
  &__title_section {
    margin-bottom: 80px;
  }

  &__list {
    padding: 0;
    &_item {
      border-top: 1px solid $color-black;
      &:last-child {
        border-bottom: 1px solid $color-black;
      }

      &_container {
        display: flex;
        align-items: center;
      }
      &_number {
        min-width: 140px;
        height: 140px;
        border: 1px solid $color-black;
        border-radius: 50%;
        position: relative;
        margin-right: 60px;
        &_icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &_text {
        color: #252424;
        font-family: $font-family-primary;
        font-size: 24px;
        font-weight: 400;
        line-height: 150%;
        text-transform: uppercase;
        margin: 0;
      }
    }
  }
}