.tariffs_section {
  margin-bottom: 100px;
  @include media-breakpoint-up(xl) {
    margin-bottom: 180px;
  }
  &__title_section {
    margin-bottom: 50px;
    display: none;
    @include media-breakpoint-up(xl) {
      margin-bottom: 100px;
      display: block;
    }
    &_mobile {
      margin-bottom: 50px;
      @include media-breakpoint-up(xl) {
        margin-bottom: 100px;
        display: none;
      }
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include media-breakpoint-up(xl) {
      flex-direction: row;
    }
  }


  &__card {
    background-color: $color-primary;
    flex: 0 0 100%;
    max-width: 100%;
    border-radius: 42px;
    padding: 50px 24px 30px;
    @include media-breakpoint-up(xl) {
      flex: 0 0 49%;
      max-width: 49%;
      padding: 60px 67px 53px;
      border-radius: 49px;
    }

    &:first-child {
      margin-bottom: 50px;
      @include media-breakpoint-up(xl) {
        margin-bottom: 0;
      }
    }

    &_list {
      padding: 0;
      &_item {
        display: flex;
        align-items: center;
        margin-bottom: 18px;
        @include media-breakpoint-up(xl) {
          margin-bottom: 30px;
        }

        &.disabled {
          opacity: 0.4;
          .tariffs_section__card_list_item_text {
            text-decoration: line-through;
          }
        }
        &_icon {
          display: none;
          @include media-breakpoint-up(xl) {
            display: block;
            margin-right: 20px;
          }
          &_mobile {
            margin-right: 12px;
            @include media-breakpoint-up(xl) {
              display: none;
            }
          }
        }
        &_text {
          color: #F3F3F3;
          font-family: $font-family-primary;
          font-size: 16px;
          font-weight: 400;
          line-height: 150%;
          margin: 0;
          @include media-breakpoint-up(xl) {
            font-size: 24px;
          }
        }
      }

    }

    &_title {
      color: var(--bg, #F3F3F3);
      font-family: $font-family-secondary;
      font-size: 36px;
      font-style: italic;
      font-weight: 500;
      letter-spacing: 1.08px;
      text-transform: uppercase;
      margin-bottom: 30px;
      text-align: center;
      @include media-breakpoint-up(xl) {
        font-size: 48px;
        letter-spacing: 1.44px;
      }
    }

    &_price {
      color: #F3F3F3;
      font-family: $font-family-secondary;
      font-style: italic;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 28px;
      display: flex;
      justify-content: center;
      line-height: 100px;
      align-items: flex-end;
      &_number {
        line-height: 110px;
        display: inline-block;
        margin-right: 15px;
      }

      &_first {
        font-size: 100px;
      }
      &_second {
        font-size: 64px;
      }

      &_сurrency {
        color: var(--bg, #F3F3F3);
        font-family: $font-family-secondary;
        font-size: 80px;
        font-style: italic;
        font-weight: 400;
        letter-spacing: 2.4px;
        text-transform: uppercase;
      }
    }

    &_link {
      margin: 0 auto;
    }
  }
}