@import './fonts';
@import './variables';

// UI
@import 'ui/dropdown';
@import 'ui/btn';

// Blocks
@import 'blocks/header';
@import 'blocks/nav';
@import 'blocks/main_section';
@import 'blocks/statistics_section';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: $font-family-primary;
  background-color: $color-secondary;
  overflow-x: hidden;
}