@import './fonts';
@import './variables';

// UI
@import 'ui/dropdown';
@import 'ui/btn';
@import 'ui/title_section';
@import 'ui/swiper';
@import 'ui/slick';

// Blocks
@import 'blocks/header';
@import 'blocks/nav';
@import 'blocks/main_section';
@import 'blocks/statistics_section';
@import 'blocks/about_me_section';
@import 'blocks/who_is_suitable_section';
@import 'blocks/about_intensive_section';
@import 'blocks/participate_section';
@import 'blocks/steps_intensive_section';
@import 'blocks/tariffs_section';
@import 'blocks/reviews_section';
@import 'blocks/consultation_section';
@import 'blocks/footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: $font-family-primary;
  background-color: $color-secondary;
  overflow-x: hidden;
}