$grid-breakpoints: (
        xs: 0,
        sm: 375px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
);

$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Cormorant Garamond', serif;
$font-family-third: 'Cormorant', serif;

$color-primary: #496E0D;
$color-secondary: #F3F3F3;
$color-black: #252424;