.btn_consultations {
  display: flex;
  width: 120px;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  flex-shrink: 0;
  font-family: $font-family-primary;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.2s ease-out;

  &__primary {
    background-color: $color-primary;
    color: #FFFFFF;

    &:hover {
      box-shadow: 0 7px 7px 0 rgba(73, 110, 13, 0.2);
    }
  }

  &__secondary {
    background-color: #EBEBEB;
    color: $color-primary;

    &:hover {
      box-shadow: 0 7px 7px 0 rgba(73, 110, 13, 0.2);
    }
  }
}