.title_section {
  font-family: $font-family-secondary;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  text-align: center;
  @include media-breakpoint-up(xl) {
    font-size: 64px;
    letter-spacing: 1.92px;
  }

  &-light {
    color: #F3F3F3;
  }

  &-dark {
    color: $color-black;
  }
  &__green {
    color: $color-primary;
    font-size: 96px;
  }
}